---
http_interactions:
- request:
    method: post
    uri: http://staging-integration.posios.com/PosServer/rest/partner/v1/externalPaymentProvider/
    body:
      encoding: UTF-8
      string: '{"companyId":123,"name":"House Account (External)","url":"https://dummy-payment-url.com","username":"username","password":"abc123"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: Create
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":1,"name":"House Account (External)","url":"https://dummy-payment-url.com","creationDate":"2024-11-17:28:02.467Z","updateDate":"2024-11-17:28:02.467Z","companyID":1}}'
  recorded_at: Mon, 25 Nov 2024 16:52:59 GMT
recorded_with: VCR 6.3.1
