---
http_interactions:
  - request:
      method: patch
      uri: http://staging-integration.posios.com/PosServer/rest/partner/v1/externalPaymentProvider/1
      body:
        encoding: UTF-8
        string: '{"id":2366, "url": "https://preprod.chronogolf.com/test"}'
      headers:
        Content-Type:
          - application/json
        X-Auth-Token:
          - API_TOKEN_VALUE
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"data": {"id": 528,"name": "House Account (External)","url": "https://preprod.chronogolf.com/test","creationDate": "2024-12-17T16:38:27.456Z","updateDate": "2025-09-18T17:03:53.498Z","companyId": 14445}}'
    recorded_at: Fri, 04 Dec 2015 21:57:28 GMT
recorded_with: VCR 3.0.0