---
http_interactions:
  - request:
      method: put
      uri: http://staging-integration.posios.com/PosServer/rest/partner/v1/externalPaymentProvider//1
      body:
        encoding: UTF-8
        string: '{"id":2366, "city":null,"country":null,"deliveryCity":null,"deliveryCountry":null,"deliveryStreet":null,"deliveryStreetNumber":null,"deliveryZip":null,"email":"test-update@test.com","firstName":"test1","lastName":"test1","street":null,"streetNumber":null,"telephone":null,"zip":null,"links":[]}'
      headers:
        Content-Type:
          - application/json
        X-Auth-Token:
          - API_TOKEN_VALUE
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"data":{"username":"updated_username","name":"House Account (External)","url":"https://dummy-payment-url.com","creationDate":"2024-11-17:28:02.467Z","updateDate":"2024-11-17:28:02.467Z","companyID":1}}'
    recorded_at: Fri, 04 Dec 2015 21:57:28 GMT
recorded_with: VCR 3.0.0
