---
http_interactions:
- request:
    method: post
    uri: http://staging-exact-integration.posios.com/PosServer/rest/core/customer/2365/creditchange
    body:
      encoding: UTF-8
      string: '{"change":10}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 201
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: '{"id":6704,"changeQuantity":10.0,"creationUserId":23175,"creationTime":"2016-02-25T19:19:15.234Z"}'
  recorded_at: Thu, 25 Feb 2016 20:44:40 GMT
recorded_with: VCR 3.0.1
