---
http_interactions:
- request:
    method: get
    uri: http://stating-integration.posios.com/PosServer/rest/core/customer/2365/creditchange
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"changeQuantity":10.0,"creationUserId":23175,"creationTime":"2016-02-25T19:19:15.234Z"},{"changeQuantity":10.0,"creationUserId":23175,"creationTime":"2016-02-25T20:06:31.042Z"},{"changeQuantity":10.0,"creationUserId":23175,"creationTime":"2016-02-25T20:27:45.965Z"},{"changeQuantity":10.0,"creationUserId":23175,"creationTime":"2016-02-25T20:32:59.363Z"},{"changeQuantity":10.0,"creationUserId":23175,"creationTime":"2016-02-25T20:33:46.058Z"}],"amount":50,"offset":0,"total":5}'
  recorded_at: Thu, 25 Feb 2016 20:44:40 GMT
recorded_with: VCR 3.0.1
