---
http_interactions:
  - request:
      method: post
      uri: http://staging-integration.posios.com/PosServer/rest/v1/webhooks/subscriptions
      body:
        encoding: UTF-8
        string: '{"notificationUrl":"https://localhost","type":"RECEIPT_CREATED","timeToLiveInSeconds":900,"notificationEmail":"email@test.com"}'
      headers:
        Authorization:
          - Bearer {ACCESS_TOKEN}
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"data":{"id":1921,"notificationUrl":"https://localhost","type":"RECEIPT_CREATED","renewalTime":"2023-08-17T00:31:49.123Z","expirationTime":"2023-08-18T00:31:49.123Z","timeToLiveInSeconds":900,"apiKey":"d4V9rULfWJlQqcvgJkk6jXhmC2HDqkPo"}}'
    recorded_at: Thu, 17 Aug 2023 00:31:49 GMT
recorded_with: VCR 6.3.1