---
http_interactions:
- request:
    method: post
    uri: http://staging-integration.posios.com/PosServer/rest/v1/webhooks/subscriptions/17/renew
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Shopkeep-Request-Id:
      - '024089d5-8349-4a13-94c9-bc09913bb029'
    body:
      encoding: ASCII-8BIT
      string: '{
            "id": 17,
            "notificationUrl": "https://localhost",
            "type": "RECEIPT_CREATED",
            "renewalTime": "2023-08-18T00:31:49.123Z",
            "expirationTime": "2023-08-19T00:31:49.123Z",
            "timeToLiveInSeconds": 900,
            "apiKey": "JlQqcvgJkk6jXhmC2HDqkPoJtN3mR1b7mPF"
        }'
  recorded_at: Mon, 02 Dec 2024 20:28:33 GMT
recorded_with: VCR 6.3.1
