---
http_interactions:
- request:
    method: post
    uri: http://staging-integration.posios.com/PosServer/rest/v1/webhooks/subscriptions/17/renew
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Shopkeep-Request-Id:
      - 8036b15b-3882-48d5-baba-6d12b0157abb
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":"not_allowed","title":"Renewal is not allowed before
        2024-12-02T21:10:41.943Z for webhook subscription with id 17","detail":"","httpStatus":403,"legacyJSONRPCCode":11021}]}'
  recorded_at: Mon, 02 Dec 2024 20:22:16 GMT
recorded_with: VCR 6.3.1
