---
http_interactions:
- request:
    method: get
    uri: http://staging-exact-integration.posios.com/PosServer/rest/core/customer/2366
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"links":[],"id":2366,"firstName":"test1","lastName":"test1","street":"N/A","streetNumber":"N/A","zip":"N/A","city":"N/A","country":"N/A","telephone":"","deliveryStreet":"","deliveryStreetNumber":"","deliveryZip":"","deliveryCity":"","deliveryCountry":"","email":"test1@test.com"}'
  recorded_at: Fri, 04 Dec 2015 21:22:44 GMT
recorded_with: VCR 3.0.0
