---
http_interactions:
- request:
    method: get
    uri: http://staging-integration.posios.com/PosServer/rest/core/customer/2366
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"links":[],"id":2366,"firstName":"test1","lastName":"test1","street":"N/A","streetNumber":"N/A","zip":"N/A","city":"N/A","country":"N/A","telephone":"","deliveryStreet":"","deliveryStreetNumber":"","deliveryZip":"","deliveryCity":"","deliveryCountry":"","email":"test1@test.com", "customerCards": [{"code": "B1234", "companyId": 111, "creationUserId": 0, "customerId": 0, "customerUuid": "string", "expiryDate": 0, "generatedDate": 0, "lastUsedDate": 0, "lastValueAddedDate": 0, "mainEstablishmentMasterId": 0, "originalValue": 0, "redeemedValue": 0, "remainingValue": 0, "soldValue": 0, "status": "string", "type": "string", "uuid": "string"}]}'
  recorded_at: Fri, 04 Dec 2015 21:22:44 GMT
recorded_with: VCR 3.0.0
