---
http_interactions:
- request:
    method: get
    uri: http://staging-integration.posios.com/PosServer/rest/inventory/productgroup
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":57134,"name":"Drinks","sequence":1,"visible":true,"categoryId":50962,"shortcutCategory":false,"products":[]},{"id":57135,"name":"Starters","sequence":2,"visible":true,"categoryId":50963,"shortcutCategory":false,"products":[]},{"id":57136,"name":"Mains","sequence":3,"visible":true,"categoryId":50964,"shortcutCategory":false,"products":[]},{"id":57137,"name":"Discounts","sequence":4,"visible":true,"categoryId":50965,"shortcutCategory":false,"products":[]},{"id":59109,"name":"60848dcf-5452-4be8-97f7-97e224532a6e","sequence":5,"visible":false,"categoryId":51608,"shortcutCategory":false,"products":[]},{"id":62306,"name":"Test","sequence":6,"visible":false,"categoryId":52801,"shortcutCategory":false,"categoryType":"Type","products":[]}]'
  recorded_at: Wed, 03 Apr 2019 18:46:47 GMT
recorded_with: VCR 4.0.0
