---
http_interactions:
- request:
    method: post
    uri: http://staging-integration.posios.com/PosServer/rest/inventory/productgroup/57137/product
    body:
      encoding: UTF-8
      string: '{"deliveryPrice":0,"deliveryPriceWithoutVat":0,"deliveryTaxClass":"","info":"info","name":"name","price":0,"priceWithoutVat":0,"sequence":0,"stockAmount":0,"takeawayPrice":0,"takeawayPriceWithoutVat":0,"visible":false}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"description":"An unexpected error occurred."}'
  recorded_at: Wed, 03 Apr 2019 20:12:36 GMT
recorded_with: VCR 4.0.0
