---
http_interactions:
- request:
    method: get
    uri: http://staging-integration.posios.com/PosServer/rest/onlineordering/paymenttype
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4570,"typeId":8,"name":"Put on tab","description":""},{"id":4571,"typeId":50,"name":"Tab
        Paid","description":"Tab Paid"},{"id":5535,"typeId":200,"name":"Loyalty","description":"Loyalty"},{"id":4561,"typeId":1,"name":"Cash"},{"id":7650,"typeId":2,"name":"Quick
        cash"},{"id":4562,"typeId":4,"name":"Credit Card"},{"id":4563,"typeId":1300,"name":"Interac"},{"id":4564,"typeId":500,"name":"Split
        Bill"},{"id":4565,"typeId":300,"name":"Open Cash Drawer"}]'
  recorded_at: Wed, 03 Apr 2019 16:25:27 GMT
recorded_with: VCR 4.0.0
