---
http_interactions:
- request:
    method: get
    uri: http://staging-integration.posios.com/PosServer/rest/core/company
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":14160,"name":"Chronogolf","vatInclusive":true,"country":"US"}]'
  recorded_at: Thu, 13 Apr 2017 20:27:03 GMT
recorded_with: VCR 3.0.1
