---
http_interactions:
- request:
    method: post
    uri: http://staging-integration.posios.com/PosServer/rest/onlineordering/customer/32767/establishmentorder
    body:
      encoding: UTF-8
      string: '{"companyId":14445,"description":"HA payment","deliveryDate":"2019-03-31T18:00:00.299Z","note":"HA
        payment","customerId":32767,"numberOfCustomers":1,"orderItems":[{"amount":1,"productId":154115,"totalPrice":0,"totalPriceWithoutVat":0,"unitPrice":0,"unitPriceWithoutVat":0}],"orderPayments":[{"amount":-10,"paymentTypeId":8196,"paymentTypeTypeId":16},{"amount":10,"paymentTypeId":8195,"paymentTypeTypeId":4}],"status":"ACCEPTED"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - API_TOKEN_VALUE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["type may not be empty"]}'
  recorded_at: Wed, 03 Apr 2019 18:20:24 GMT
recorded_with: VCR 4.0.0
